// 全站設定
// 全站設定

*, *::after, *::before{
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans TC','Shrikhand', sans-serif;
  line-height: 1.5;
}


img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a{
  color: inherit;
  text-decoration: none;
}