<div class="container p-40 px-lg-auto py-lg-52">
  <footer
    class="d-lg-flex justify-content-lg-between align-items-center position-relative"
  >
    <div>
      <a href="index.html" class="font-shrikhand fs-32 hover--primary-200"
        >ALPHABOX+</a
      >
      <span class="d-none d-lg-block fw-bold"
        >Copyright &copy; 2023 Hexschool</span
      >
    </div>
    <img
      class="mx-auto"
      src="../assets/images/emergency--dark.svg"
      alt="黑色米字圖案。"
    />
    <ul class="list-nav d-lg-flex gap-24 fw-bold">
      <li class="list-item">
        <a href="#" class="list-link hover--primary-200">關於我們</a>
      </li>
      <li class="list-item">
        <a href="product.html" class="list-link hover--primary-200">產品資訊</a>
      </li>
      <li class="list-item">
        <a href="#" class="list-link hover--primary-200">常見問題</a>
      </li>
      <li class="list-item">
        <a href="#" class="list-link hover--primary-200">隱私政策</a>
      </li>
    </ul>
    <span class="d-lg-none fw-bold">Copyright &copy; 2023 Hexschool</span>
  </footer>
</div>
