// nav list
.nav-list{
  .list-item{
    font-size: 24px;
    @include xl{
      font-size: 16px;
    }
  }
}

// 每個開頭的title
.section-title{
  color: var(--bs-light);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 8px;
  font-family: "Noto Sans TC", sans-serif;
  @include lg{
    font-size: 48px;
    letter-spacing: 48px;
  }
}


// Aiｒ機器人卡片 : card-textAndImg
.card-textAndImg{

  // 單個卡片項目
  .card-item{
    @include lg{
      width: 100%;
      height: 100%;
    }
    
  }

  // 放背景圖片和調整用
  .item-body{
    position: relative;
    min-height: 351px;
    &:hover{
      box-shadow: 0 0 2px 2px var(--bs-primary-100);
    }
    @include sm{
      min-height: 650px;
    }
    @include lg{
      max-width: none;
      height: 100%;
      min-height: 550px;
    }
  }
  .item-body--lg{
    @include lg{
      height: 676px;
    }
  }

  // 文字內容
  .item-content{
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    text-align: center;
    font-family: "Shrikhand", cursive;
    font-size: 32px;
    color: var(--bs-light);
  }
}

// 最新消息卡片
.card-textAndArrow{
  //單個卡片
  .card-item{
    padding: 32px 16px;
    border-bottom: 1px solid var(--bs-light);
    @include lg{
      padding: 40px 16px;
    }
  }
  // 卡片header
  .item-header{
    display: flex;
    margin-bottom: 8px;
    // header 圖片
    .header-img{
      width: 24px;
      height: 24px;
      margin-right: 16px;
    }
    // header內容
    .header-content{
      letter-spacing: 16px;
    }
  }
  // 卡片內容
  .item-body{
    margin-bottom: 12px;
    // 卡片標題
    .body-title{
      font-size: 20px;
      letter-spacing: 20px;
      margin-bottom: 12px;
    }
  }
}


// share-card
.share-item{
  min-height: 351px;
  @include lg{
    height: 416px;
    max-width: 416px;
  }
}


// 文字之間的點點
.dot{
  display: inline-block;
  border-radius: 50%;
  &--sm{
    width: 8px;
    height: 8px;
  }
  &--md{
    width: 12px;
    height: 12px;
  }
  // 大點點
  &--lg{
    width: 16px;
    height: 16px;
  }
}



// AI機器人類型
.card-showBg{

  // 放背景的地方
  .item-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    min-height: 406px;
    border-right: 1px solid var(--bs-light);
    // 數字
    .body-number{
      font-family: "Saira Extra Condensed", sans-serif;
      font-size: 128px;
      font-weight: 300;
      margin-bottom: 16px;
      @include lg{
        font-size: 400px;
      }
    }
    // 機器人名稱
    .body-title{
      font-family: "Shrikhand", cursive;
      font-size: 24px;
      margin-bottom: 18px;
      @include lg{
        font-size: 32px;
      }
    }
    // 文字介紹
    .body-content{
      display: flex;
      flex-direction: column;
      font-family: "Noto Sans TC", sans-serif;
      padding: 0 12px;
      @include lg{
        flex-direction: row;
        align-items: center;
        gap: 40px;
      }
      // 介紹標題
      .content-title{
        font-weight: 700;
      }
    }
  } 
}


// 學術領導/知識分享/智能問答 下方的介紹卡片
.card-textUpAndDown{
  // 卡片標題
  .item-title{
    font-weight: 700;
    border-bottom: 2px solid var(--bs-dark);
    line-height: 1;
    margin-bottom: 16px;
    @include xl{
      border-bottom: none;
      margin-bottom: 24px;
    }
  }
}






// 最上方的button: button-primary
.button-primary{
  .button-link{
    font-family: "Shrikhand", cursive;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--bs-light);
    border-radius: 40px;
    color: var(--bs-light);
    background-color: var(--bs-dark);
    padding: 4px 16px;
    transition: 0.1s;
    &:hover{
      color: var(--bs-dark);
      background-color: var(--bs-light);
      border-color: var(--bs-dark);
    }
    @include xl{
      font-size: 24px;
      padding: 4px 80px;
    }
  }
  .active{
    color: var(--bs-dark);
    background-color: var(--bs-light);
    border-color: var(--bs-dark);
  }
}


// banner section
.banner{
  @include xl{
    position: relative;
    display: flex;
    align-items: center;
  }
  .banner-top{
    @include xl{
      width: 50%;
    }
  }
  .banner-mid{
    padding: 16px 12px;
    @include md{
      padding: 24px 0 24px 40px;
      width: 50%;
    }
    @include xl{
      padding: 16px 0 16px 40px;
      width: 50%;
    }
  }
  .banner-down{
    padding-bottom: 24px;
    @include xl{
      padding-bottom: 0;
    }
  }
}


// 圈圈文字圖案裡面有其他圖案的架構
.circle{
  position: relative;
  z-index: 2;
  .item-inner{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
.circle--move{
  @include xl{
    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 60px;
    left: 50%;
  }
}


// 水平槓槓
.horizental-bar{
  height: 40px;
  @include gradient-x(var(--bs-primary-200),var(--bs-primary-500));
  &-reverse{
    @include gradient-x(var(--bs-primary-500),var(--bs-primary-200));
  }
}