<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>Alphabox+ | 產品 : Diane</title>
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>
    <!-- 最上方的button: button-primary -->
    <div class="bg-dark py-16">
      <div class="container">
        <ul
          class="d-flex justify-content-center align-items-center gap-8 gap-xl-24"
        >
          <li class="button-primary">
            <a href="#" class="button-link">Diane</a>
          </li>
          <li class="button-primary">
            <a href="#" class="button-link active">Diane</a>
          </li>
          <li class="button-primary">
            <a href="#" class="button-link">Karina</a>
          </li>
          <li class="button-primary">
            <a href="#" class="button-link">Vito</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- banner -->
    <div class="bg-dark">
      <div class="banner">
        <div class="banner-top">
          <!-- swiper -->
          <!-- Slider main container -->
          <div class="swiper swiper-banner">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/diane_square1.png?raw=true"
                  alt="diane看向鏡頭。"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/diane_square2.png?raw=true"
                  alt="diane側看鏡頭。"
                />
              </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev">
              <span class="swiper-icon material-symbols-outlined">
                arrow_circle_left
              </span>
            </div>
            <div class="swiper-button-next">
              <span class="swiper-icon material-symbols-outlined">
                arrow_circle_right
              </span>
            </div>
          </div>
        </div>
        <div class="banner-mid">
          <!-- banner介紹文字 -->
          <div class="d-flex flex-column text-light mb-8 mb-xl-16">
            <h1 class="font-shrikhand fs-40 fs-xl-64 mb-xl-24">Diane</h1>
            <span class="fs-xl-22 fw-bold">知識型</span>
            <span class="mb-8">學術領導/知識分享/智能問答</span>
          </div>
          <img
            class="d-xl-none"
            src="../assets/images/short-arrow--white.png"
            alt="白色短箭頭，指向右邊。"
          />
          <img
            class="d-none d-xl-block"
            src="../assets/images/long-arrow--white.png"
            alt="白色長箭頭，指向右邊。"
          />
        </div>
        <div class="banner-down text-center">
          <!-- 指向下面的文字圓圈 -->
          <span class="circle circle--move">
            <img
              class="item-outer"
              src="../assets/images/circle-seeMore.png"
              alt="白色文字組成的圈圈"
            />
            <span class="item-inner material-symbols-outlined text-light fs-40">
              arrow_downward
            </span>
          </span>
        </div>
      </div>
    </div>

    <!-- main -->
    <main>
      <!-- 學術領導/知識分享/智能問答 -->
      <div class="bg-light pt-60 pb-80">
        <div class="container">
          <!-- title -->
          <div
            class="d-lg-flex justify-content-lg-between align-items-lg-center mb-24 mb-lg-32 fs-20 fw-500"
          >
            <div class="d-flex align-items-center">
              <img
                class="me-12"
                src="../assets/images/emergency--dark.svg"
                alt="黑色米字圖案。"
                width="40"
                height="40"
              />
              <h2>學術領導/知識分享/智能問答</h2>
            </div>
            <span class="d-none d-lg-block">ALPHABOX+</span>
          </div>
          <!-- title intro -->
          <p class="fw-500 mb-32 mb-lg-120">
            歡迎來到ALPHABOX+的全新世界！在這裡，我們很榮幸地向您介紹我們的最新力作
            - 3D立體投影機器人 Diane！
          </p>

          <!-- card-list : 介紹卡 -->
          <ul class="card-textUpAndDown row gy-24 gy-lg-104">
            <!-- card-01 -->
            <li class="card-item col-md-6 col-xl-4">
              <h3 class="item-title">先進的3D投影技術</h3>
              <p class="item-content">
                Diane 搭載了最新的 3D
                投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！
              </p>
            </li>

            <!-- card-02 -->
            <li class="card-item col-md-6 col-xl-4">
              <h3 class="item-title">人性化的互動設計</h3>
              <p class="item-content">
                Diane
                具有高度智能的語音辨識和回應功能，您可以像跟朋友聊天一樣，與
                Diane 進行自然、流暢的對話。
              </p>
            </li>

            <!-- card-03 -->
            <li class="card-item col-md-6 col-xl-4">
              <h3 class="item-title">豐富的應用場景</h3>
              <p class="item-content">
                無論是家庭娛樂、教育培訓還是商業展示，Diane
                都能夠輕鬆滿足您的需求，為您提供更多元的互動體驗。
              </p>
            </li>

            <!-- card-04 -->
            <li class="card-item col-md-6 col-xl-4">
              <h3 class="item-title">高度自主性</h3>
              <p class="item-content">
                Diane
                具有強大的自主學習能力，能夠不斷地學習並優化自己，為您創造更加便捷、貼心的生活方式。
              </p>
            </li>

            <!-- card-05 -->
            <li class="card-item col-md-6 col-xl-4">
              <h3 class="item-title">簡單易用的操作界面</h3>
              <p class="item-content">
                Diane 擁有直觀的操作界面，讓您可以輕鬆地掌握並運用它的各種功能。
              </p>
            </li>
          </ul>
        </div>
      </div>

      <div class="bg-radial text-light pt-60 pb-80 pt-lg-160 pb-lg-216">
        <!-- 使用分享 -->
        <div class="container">
          <!-- title -->
          <h2 class="fs-40 mb-16 mb-lg-12 fw-bold">使用分享</h2>

          <!-- title intro -->
          <p class="mb-24 mb-lg-80">
            展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。
          </p>

          <!-- list card : 使用分享卡片 -->
          <ul class="row g-24 justify-content-lg-center">
            <!-- share-card--01 -->
            <li class="col-12 col-md-6 col-lg-4">
              <div
                class="share-item text-light d-flex flex-column justify-content-between bg-primary-400 p-40 fw-bold"
              >
                <div>
                  <div class="mb-40">
                    <span>Zona</span>
                    <span class="dot dot--md mx-8 bg-light"></span>
                    <span>Taipei</span>
                  </div>
                  <p>
                    自從家裡有了Diane，孩子們的學習興趣提高了不少，他們都喜歡透過Diane的3D立體投影來探索新知識，家庭氛圍變得更加和樂融融！
                  </p>
                </div>
                <div class="share-footer">
                  <span class="dot dot--lg me-16 bg-light"></span>
                  <span class="dot dot--lg me-16 bg-light"></span>
                  <span>ALPHABOX+ Dianne</span>
                </div>
              </div>
            </li>

            <!-- share-card--02 -->
            <li class="col-12 col-md-6 col-lg-4">
              <div
                class="share-item text-dark d-flex flex-column justify-content-between bg-light p-40 fw-bold"
              >
                <div>
                  <div class="mb-40">
                    <span>Lin</span>
                    <span class="dot dot--md mx-8 bg-dark"></span>
                    <span>Chiayi</span>
                  </div>
                  <p>
                    自從公司引入 Diane，員工的工作效率提升了很多。Diane
                    不僅能快速回應我們的需求，還可以協助我們做各種商業展示，真的是企業的好幫手！
                  </p>
                </div>
                <div class="share-footer">
                  <span class="dot dot--lg me-16 bg-dark"></span>
                  <span class="dot dot--lg me-16 bg-dark"></span>
                  <span>ALPHABOX+ Dianne</span>
                </div>
              </div>
            </li>
            <!-- share-card--03 -->
            <li class="col-12 col-md-6 col-lg-4">
              <div
                class="share-item text-light d-flex flex-column justify-content-between bg-primary-400 p-40 fw-bold"
              >
                <div>
                  <div class="mb-40">
                    <span>瑞</span>
                    <span class="dot dot--md mx-8 bg-light"></span>
                    <span>Taipei</span>
                  </div>
                  <p>
                    Diane
                    讓教學變得更生動有趣，學生們在課堂上的參與度和學習效果都有顯著提升。我非常推薦Diane給所有的教育工作者！
                  </p>
                </div>
                <div class="share-footer">
                  <span class="dot dot--lg me-16 bg-light"></span>
                  <span class="dot dot--lg me-16 bg-light"></span>
                  <span>ALPHABOX+ Dianne</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <!-- main.js -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
